<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "text.candidats_province" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="items && items.info.count > 0">
    <ion-list lines="none">
      <ion-list-header class="ion-padding">
        <ion-label *ngIf="electionItem">{{ "text.candidats" | translate }} - {{ electionItem.name }}</ion-label>
      </ion-list-header>
    </ion-list>

    <ion-list *ngIf="items && items.info.count < 100">
      <ion-item [routerLink]="'/region'" [queryParams]="{province: item.id, election: electionId}" *ngFor="let item of items.items">
        <ion-label>
          {{ item.libelle }}
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- if candidat_count > 100 -->
    <ion-row *ngIf="items && items.info.count > 100">

    </ion-row>
  </div>

  <div *ngIf="items && items.info.count === 0">

    <ion-item>
      <ion-label>
        {{ "error.empty_connection" | translate }}
      </ion-label>
    </ion-item>
    <ion-spinner name="dots" ></ion-spinner>
  </div>
</ion-content>
