<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "text.candidats" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="Candidats">
    <ion-list lines="none">
      <ion-list-header class="ion-padding">
        <ion-label>{{ "text.candidats_district" | translate }} </ion-label>
      </ion-list-header>
    </ion-list>

    <app-candidat [Candidats]="Candidats.items"></app-candidat>
  </div>

  <div *ngIf="Candidats && Candidats.items && Candidats.items.length == 0">

    <ion-item>
      <ion-label>
        {{ "error.empty_connection" | translate }}
      </ion-label>
    </ion-item>
    <ion-spinner name="dots" ></ion-spinner>
  </div>
</ion-content>
