<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "text.search" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-searchbar  [(ngModel)]="search" (ionInput)="enableSearch()" (ionChange)="searchChanged($event)"></ion-searchbar>

    <ion-item *ngIf="isSearch">Recherche en cours de {{ search }} <ion-spinner name="dots"></ion-spinner></ion-item>

    <ion-item *ngIf="(results | async).length == 0">Aucun résultat trouvé pour {{ search }} </ion-item>

    <ion-list *ngIf="(results | async).length > 0">
      <app-candidat [Candidats]="(results | async)"></app-candidat>
  </ion-list>
</ion-content>
