<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ "text.settings" | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="storageform" (ngSubmit)="submitForm()">

        <ion-list-header></ion-list-header>

        <ion-item>
            <ion-label>{{ "text.lang_choice" | translate }}</ion-label>
            <ion-select (ionChange)="submitForm()" formControlName="lang" placeholder="{{ 'text.choose' | translate }}" okText="{{ 'text.Ok' | translate }}" cancelText="{{ 'text.cancel' | translate }}">
                <ion-select-option *ngFor="let lg of langs" [value]="lg.value">{{lg.text + ' (' + lg.value + ')'}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="!storageform.valid">{{ "text.save" | translate }}</ion-button>
    </form>
</ion-content>
