<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "text.search" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar  [(ngModel)]="search" (ionChange)="searchChanged($event)"></ion-searchbar>


  <ion-list *ngIf="results">
    <app-candidat [Candidats]="(results | async)"></app-candidat>
  </ion-list>
</ion-content>
