<ion-item [routerLink]="'/candidat/' + item.id "  *ngFor="let item of Candidats;">
  <ion-thumbnail slot="end" *ngIf="item.photo_candidat.length > 0">
    <img src="{{ globalParam.baseurl + 'media/cache/rc_80_80/assets/candidats/' + item.photo_candidat[0].photo  }}">
  </ion-thumbnail>
  <ion-label>
    {{ item.name }}
    {{ item.name2 }}
    {{ item.firstname }}
  </ion-label>
  <ion-badge color="dark" *ngIf="item.candidat_election.length > 0">{{ item.candidat_election[0].numero_bulletin }}</ion-badge>
</ion-item>
