<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "text.parti_politique" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>{{ "text.partis" | translate }} - {{ item.name }}</ion-label>
    </ion-list-header>
  </ion-list>
</ion-content>
