<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "text.candidats" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="itemsCandidats && itemsCandidats.info && itemsCandidats.info.count > 0">
  <ion-list lines="none">
    <ion-list-header class="ion-padding">
      <ion-label>{{ "text.candidats" | translate }} - {{ item.name }}</ion-label>
    </ion-list-header>
  </ion-list>

  <!--{{ itemsCandidats.candidat_count }}-->
  <!-- if candidat_count < 100 - show all -->

  <ion-list *ngIf="itemsCandidats.info.count < 100">
    <app-candidat [Candidats]="itemsCandidats.items"></app-candidat>
  </ion-list>

  <!-- if candidat_count > 100 -->
  <ion-row *ngIf="itemsCandidats.info.count > 100">
    <ion-col>
      <ion-button [routerLink]="'/province'" [queryParams]="{election: electionId}" class="ion-margin-bottom" expand="block" color="light">{{ "text.show_candidat_by_place" | translate }}</ion-button>
      <ion-button [routerLink]="'/search'" expand="block" color="light">{{ "text.search_candidat" | translate }}</ion-button>
    </ion-col>
  </ion-row>
  </div>

  <div *ngIf="itemsCandidats && itemsCandidats.info && itemsCandidats.info.count === 0">

    <ion-item>
      <ion-label>
        {{ "error.empty_connection" | translate }}
      </ion-label>
    </ion-item>
    <ion-spinner name="dots" ></ion-spinner>
  </div>
</ion-content>
