<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Elections-mg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="items.length > 0">
  <ion-card [routerLink]="'/electiondetail/' + item.id" class="welcome-card" *ngFor="let item of items">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ "text.default_desc_election" | translate }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="items.length === 0">

    <ion-item>
      <ion-label>
        {{ "error.empty_connection" | translate }}
      </ion-label>
    </ion-item>
    <ion-spinner name="dots" ></ion-spinner>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>{{ "text.info" | translate }}</ion-label>
      </ion-list-header>
      <ion-item routerLink="/about" >
        <ion-icon slot="start" color="medium" name="alert"></ion-icon>
        <ion-label>{{ "text.about" | translate }}</ion-label>
      </ion-item>
      <ion-item href="https://elections-mg.com/">
        <ion-icon slot="start" color="medium" name="link"></ion-icon>
        <ion-label>{{ "text.web" | translate }}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
