<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="item">{{ item.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="none" *ngIf="item">
    <ion-list-header>
      <ion-label>{{ item.name }}</ion-label>
    </ion-list-header>
    <ion-item [routerLink]="'/election/candid/' + item.id" >
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>{{ "text.candidats" | translate }}</ion-label>
      <ion-badge slot="end" color="dark">{{ item.candidatCount || 0 }}</ion-badge>
    </ion-item>
    <ion-item *ngIf="item.results" [routerLink]="'/election/results/' + item.id">
      <ion-icon slot="start" color="medium" name="pie"></ion-icon>
      <ion-label>{{ "text.resultats" | translate }}</ion-label>
    </ion-item>
    <ion-item *ngIf="item.stats" [routerLink]="'/election/stats/' + item.id">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>{{ "text.statistiques" | translate }}</ion-label>
    </ion-item>
    <ion-item routerLink="/search/">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-label>{{ "text.search" | translate }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="item && !item.results">
    <ion-label>{{ "error.empty_resultat" | translate }}</ion-label>
  </ion-item>
  <ion-item *ngIf="item && !item.stats">
    <ion-label>{{ "error.empty_stat" | translate }}</ion-label>
  </ion-item>
</ion-content>
